
<div>

    <footer class="bg-dark text-white text-center fixed-bottom">
    <div class="  pb-0">
    <div class="text-center p-3" >
     &copy <a class="text-white copy" href="https://anikateagrawal.github.io/My-Resume/">Anikate Agrawal</a>
    </div>
    </div>
</footer> 
</div>
